<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <title>AID - CBA Modul</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" type="image/x-icon" href="favicon.ico"> -->
    <link rel="icon" type="image/x-icon" href="../assets/logo3_01_8.png" sizes="any">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google Robot Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <!-- <link href="theme.scss" rel="stylesheet"> -->

    <!-- PWA Manifest -->
    <link rel="manifest" href="../manifest.json">
    <meta name="theme-color" content="#680059">


  <link rel="stylesheet" href="../styles.c41396d4f131d2e76965.css"></head>
  <body class="mat-app-background"> 
    <!-- All Content rendered with Roboto Font -->
    <section class="mat-typography">
      <!-- <app-root>Loading...</app-root> -->
      <app-root></app-root>

      <!-- Splash Screen-->
      <div class="splash" id="content">
        <h1>AID - CBA App</h1>
        <!-- <p>Loading</p> -->
        <img src="/assets/logo3.svg" width="256px" alt="AID - CBA  logo">
     </div>


    </section>
  




<script type="text/javascript" src="../runtime.746d40095bd26b3f5ff2.js"></script><script type="text/javascript" src="../polyfills.b31df4847ebb8f109782.js"></script><script type="text/javascript" src="../scripts.e8256d3b5c39d7b71aaa.js"></script><script type="text/javascript" src="../main.2fa83649a4423012f3a6.js"></script></body></html><!--- Theming Note:
Finally, if your app's content is not placed inside of a mat-sidenav-container element, you need to add the mat-app-background class to your wrapper element (for example the body).
So if you're not using the mat-sidenav-container component, you need to add the Angular Material 2 background class to your HTML body like:
-
<body class="mat-app-background">
-->